* {
  margin: auto;
  display: border-box;
  scroll-behavior: smooth;
  color: #f2f5ea;
  background-color: #2c363f;
}

body {
  display: flex;
  justify-content: left;
  align-items: start;
  flex-direction: column;
  width: cover;
  height: auto;

  gap: 8rem;
}

/*! currently doesn't work, don't know why. The .modal under makes the entire page "break"*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%;
  height: 80%;
  overflow: auto; /* Enable scroll if needed */
}

/* main button */
#calculate {
  background-color: goldenrod;
  color: #1c3144;
  font: 20px bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 5px;
  border: none;
  padding: 15px;
}
#calculate:hover {
  background-color: orange;
  cursor: pointer;
}

/* the close button on the modal */
#close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
