* {
  margin: auto;
  display: border-box;
  scroll-behavior: smooth;
  color: #f2f5ea;
  background-color: #2c363f;
}

#realHeading {
  position: fixed;

  max-width: 1980px;
  width: 1980px;
  padding: 15px 0px;
}

.border {
  border: 1px dotted #d6dbd2;
}

.main_body {
  display: flex;
  justify-content: left;
  align-items: start;
  flex-direction: row;
  width: cover;
  height: auto;
}

.box {
  height: 160px;
  width: 200px;

  margin: 50px;

  /* display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; */
}

.divx {
  height: 300px;
  width: fit-content;
  margin-top: 200px;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

button {
  background-color: goldenrod;
  color: #1c3144;
  font: 20px bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 5px;
  border: none;
  padding: 15px;
}

.flexboxMiddle {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: row;
}
