* {
  margin: auto;
  display: border-box;
  scroll-behavior: smooth;
  color: #c3b62bd0;
  background-color: #2c363f;

  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 24px;
}

body {
  display: flex;
  justify-content: center;
  /* align-items: start; */
  flex-direction: column;

  height: auto;

  gap: 6rem;
}
/* copied the styles from a default react project */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/*! currently doesn't work, don't know why. The .modal under makes the entire page "break"*/

/* .modal {
  display: none; // Hidden by default 
  position: fixed; // Stay in place 
  z-index: 1; // Sit on top 
  left: 0;
  top: 0;
  width: 80%;
  height: 80%;
  overflow: auto; // Enable scroll if needed 
} */

/* main button */
#c2 > div {
  border-radius: 0.2rem;
  border: none;
  padding: 1rem;
  background-color: goldenrod;
  /* max-width: 10rem; */
}
#c2 {
  max-width: 15rem;
}

#calculate {
  background-color: goldenrod;
  color: #1c3144;

  font: 0.8rem bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  border-radius: 0.2rem;
  border: none;
  padding: 0.8rem;
}

#calculate:hover {
  background-color: orange;
  cursor: pointer;
}

#model-content {
  display: none;
}

/* the close button on the modal */
#close {
  /* position: absolute; */
  top: 10px;
  right: 15px;
  color: white;
  float: right;
  font-size: 1.2rem;
  font-weight: bold;
  background: transparent;
  padding-right: 2%;
}
#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
